.banner{
    background-image: url("../img/Musica.webp");
    padding: 20% 30% 20% 8%;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index:1;
}

.banner::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: -1;
}

.fuente{
    font-family: 'Ibarra Real Nova', serif;
    color: white;
}